django==5.2
psycopg2-binary
django-environ
djangorestframework
celery[redis]==5.3.6
django-celery-beat
redis
earthaccess
h5py
netCDF4
rasterio
geopandas
shapely
requests
plotly
folium
pandas
numpy
python-dateutil
